# Environment files
.env
**/.env

# Node / Next.js junk
node_modules
.next

# Python junk
__pycache__/
*.pyc
*.pyo

# Local virtual environment
backend/.venv

# Ignore all storage except FAISS index
backend/storage/*
!backend/storage/faiss_index/
!backend/storage/faiss_index/index.faiss
!backend/storage/faiss_index/index.pkl

# Ensure backend is a package
!backend/__init__.py